@if (weather(); as w) {
  <div class="weather" *transloco="let t" [title]="w.city + ', ' + w.country">
    <div class="weather-readout">
      <span class="weather-temp">{{ w.temperature }}°</span>
      <span class="weather-location">
        <mat-icon class="weather-loc-icon">location_on</mat-icon>{{ w.city }}
      </span>
    </div>
    <img
      class="weather-icon"
      [src]="'weather/' + w.icon + '.svg'"
      [alt]="t('weather.conditions.' + w.conditionKey)"
      width="50"
      height="50" />
  </div>
}
