<button
  mat-icon-button
  class="lang-toggle"
  [matMenuTriggerFor]="langMenu"
  [matTooltip]="'language.label' | transloco"
  matTooltipPosition="below"
  [attr.aria-label]="'language.label' | transloco">
  <!-- @switch recreates the node on change so the pop animation replays. -->
  @switch (lang()) {
    @case ('ro') { <img class="flag" src="flags/ro.svg" alt="" width="22" height="22" /> }
    @default { <img class="flag" src="flags/en.svg" alt="" width="22" height="22" /> }
  }
</button>

<mat-menu #langMenu="matMenu" xPosition="before" class="lang-menu">
  @for (l of languages; track l.id) {
    <button
      mat-menu-item
      class="lang-item"
      [class.lang-active]="l.id === lang()"
      (click)="setLanguage(l.id)">
      <!-- Wrapped so the check icon isn't reprojected into the leading icon slot. -->
      <span class="lang-row">
        <img class="flag" [src]="l.flag" alt="" width="20" height="20" />
        <span class="lang-label">{{ l.label }}</span>
        @if (l.id === lang()) {
          <mat-icon class="lang-check">check</mat-icon>
        }
      </span>
    </button>
  }
</mat-menu>
